
@{
    ViewBag.Title = "Service";
}

<style>
    .img{
        height:300px;
        width:100%;
        border-radius:5px;
    }
</style>

<div>
    <img src="~/Image/laundry3.jpg" class="img"/>
</div>
<hr />
<div>
    <p style="text-align:justify;font-size:large">Our aim at <em>A Touch of Class Dry Cleaners</em> is to provide our clients with one of the best specialist dry cleaning services.  Our staff are expertly trained in all aspects of garment care and stain removal.  We inspect all garments on arrival for stains and repairs and treat and mend as necessary, then expertly clean. After cleaning all garments are hand finished and wrapped ready for delivery back to you at your chosen time.</p>
</div>
<hr />
<div class="row">
    <div style="width:30%;float:left">
        <p><b>Services We Include:</b></p>

        <ul>
            <li>Dry Cleaning</li>
            <li>Laundering</li>
            <li>Pressing</li>
            <li>Repairs and Alterations</li>
            <li>Wedding Gowns</li>
            <li>Pick Up and Drop Off</li>
        </ul>
    </div>
    <div style="width:70%;float:right">
        <div class="col-md-4" style="width:50%">
            <h4><b>Repairs and Alterations:</b></h4>
           <img src="~/Image/1052677.large.jpg" style="width:100%;height:200px;border-radius:5px" />
            <p style="text-align:justify"><em><b>A Touch Of Class Dry Cleaners</b></em> offer a full repair and alteration service. We can help you with a simple <b>button replacement</b> to a re-lining of a jacket. The most common repairs are <b>shortening of trousers, re-hems of skirts and trousers, button and zip replacements</b> plus all manner of rips and tears.</p>
        </div>
        <div class="col-md-4" style="width:50%">
            <h4><b>Wedding Dresses Services:</b></h4>
            <img src="~/Image/dressinbox.jpg" style="width:100%;height:200px;border-radius:5px"/>
            <p style="text-align:justify">
                Our specialist wedding dress preservation & dry cleaning service ensures that your bridal gown will continue to look beautiful for years to come.
                After detailed spotting inspection by the dry cleaner, your gown will be individually cleaned and pressed, and then hand-finished.
            </p>
        </div>        
    </div>
</div>
