
@{
    ViewBag.Title = "Service";
}

<style>
    .img{
        height:300px;
        width:100%;
        border-radius:5px;
    }
</style>

<div>
    <img src="~/Image/laundry3.jpg" class="img"/>
</div>
<hr />
<div>
    <p style="text-align:justify;font-size:large">Our aim at <em>A Touch of Class Dry Cleaners</em> is to provide our clients with one of the best specialist dry cleaning services.  Our staff are expertly trained in all aspects of garment care and stain removal.  We inspect all garments on arrival for stains and repairs and treat and mend as necessary, then expertly clean. After cleaning all garments are hand finished and wrapped ready for delivery back to you at your chosen time.</p>
</div>
<hr />
<div>
    <p><b>Services We Include:</b></p>
    
</div>
